body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4f4f4;
}


header {
background: #333;
color: #fff;
padding: 15px;
}


nav a {
color: #fff;
margin-right: 15px;
text-decoration: none;
}


nav a:hover {
text-decoration: underline;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  border: 3px solid #333;
}


.content {
padding: 20px;
background: #fff;
margin: 20px;
}


table {
width: 100%;
border-collapse: collapse;
}


table, th, td {
border: 1px solid #333;
padding: 10px;
}


footer {
text-align: center;
background: #333;
color: #fff;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}